@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 반복 가능한 분야는 components를 붙여서 처리한다 */
@layer components {
  .input-style {
    @apply my-2 pl-2 py-1 shadow-md rounded-md bg-green-100;
  }
}

@layer components {
  .box-style {
    @apply p-5 mt-2 shadow-lg rounded-3xl;
  }
}

@layer components {
  .small-title {
    @apply text-lg font-bold text-center;
  }
}